# Sync data to R2 every 10 minutes
*/10 * * * * /scripts/data_sync.sh

# Fetch and Import transactions daily at 10AM
0 10 * * * cd /scripts/enable_banking && .venv/bin/python fetch_transactions.py && cd /scripts/actual_api && node import_transactions.js
